<% provide(:title, 'Logga in') %>

<h1>Logga in</h1>

<div class="row">
	<div class="span6 offset2">
		<%= form_for(:session, url: sessions_path, html: { class: "form-horizontal" }) do |f| %>
			<div class="control-group">
				<%= f.label 'Email', class: "control-label", for: "inputEmail" %>
				<div class="controls">
					<%= f.text_field :email, id: "inputEmail", placeholder: "Din email" %>
				</div>
			</div>
			<div class="control-group">
				<%= f.label 'Lösenord', class: "control-label", for: "inputPassword" %>
				<div class="controls">
					<%= f.password_field :password, id: "inputPassword", placeholder: "Ditt lösenord" %>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<label class="checkbox">
						<%= f.check_box :remember_me %> Håll mig inloggad <!-- Implement this -->
					</label>
					<%= f.submit'Logga in', class: 'btn btn-primary', id: "form-button" %>
				</div>
			</div>

		<% end %>
		<div class="center">
			<p>Ny på den här sidan? <%= link_to 'Gå med!', signup_path %></p>
		</div>
	</div>
</div>